<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('医生列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                <input type="hidden" id="checkBoxIds" name="checkBoxIds" >
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>医生姓名：</label>
                                <input type="text" name="doctorName"/>
                            </li>
                            <li>
                                <label>联系方式：</label>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <label>科室：</label>
                                <input type="text" name="department"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="business:doctor:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="business:doctor:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:doctor:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="exportexcel()" shiro:hasPermission="business:doctor:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('business:doctor:edit')}]];
        var removeFlag = [[${@permission.hasPermi('business:doctor:remove')}]];
        var prefix = ctx + "business/doctor";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "医生",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: '主键id',
                    switchable : false,
		            visible: false
                },
                {
                    field: 'doctorName', 
                    title: '医生姓名'
                },
                {
                    field: 'phone', 
                    title: '联系方式'
                },
                {
                    field: 'hospitalName', 
                    title: '医院名称'
                },
                {
                    field: 'cardNo', 
                    title: '身份证号',
                    visible: false
                },
                {
                    field: 'department', 
                    title: '科室'
                },
                {
                    field: 'major', 
                    title: '专业',
                    visible: false
                },
                {
                    field: 'title', 
                    title: '职称'
                },{
		            field: 'createTime',
		            title: '添加日期',
		        	formatter: function (value, row, index) {
		        		if(row.createTime!=null&&(row.createTime).length>0){
		        			return $.common.formatDate(value,"YYYY-mm-dd");
		        		}else{
		        			return "--";
		        		}
		        	}
		        }]
            };
            $.table.init(options);
        });
        function exportexcel(){
			$('#checkBoxIds').val($.table.selectColumns("id"));
			$.table.exportExcel();
		}
    </script>
</body>
</html>